<section>
  <div class="content-wrapper">
    <div class="skills-container">
      <div class="left">
        <div class="skill-set-content">
          <h3>Technologies</h3>
          <div class="skill-set-header">
            <h2>Skill Set</h2>

            <span class="description">
              My journey has involved working on diverse projects, employing a
              range of frontend technologies and concepts. I am open to
              embracing new technologies and methodologies to continuously
              enhance my skills and stay ahead in the ever-evolving landscape of
              web development.
            </span>

            <div class="info-section">
              <span class="another-skill">
                You need <span> another skill?</span>
              </span>
            </div>

            <div class="info-section last">
              <span class="contact-info">
                Feel free to contact me. I look forward to expanding on my
                previous knowledge.
              </span>
            </div>

            <div class="buttons hover-effect">
              <a href="#"><span>Let's Talk</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <span>
          <img src="../../../assets/icons/html.png" alt="" />
          HTML
        </span>
        <span>
          <img src="../../../assets/icons/css.png" alt="" />
          CSS
        </span>
        <span>
          <img src="../../../assets/icons/javascript.png" alt="" />
          JavaScript
        </span>
        <span>
          <img src="../../../assets/icons/material-design.png" alt="" />
          Material Design
        </span>
        <span>
          <img src="../../../assets/icons/typescript.png" alt="" />
          TypeScript
        </span>
        <span>
          <img src="../../../assets/icons/angular.png" alt="" />
          Angular
        </span>
        <span>
          <img src="../../../assets/icons/firebase.png" alt="" />
          Firebase
        </span>
        <span>
          <img src="../../../assets/icons/git.png" alt="" />
          GIT
        </span>
        <span>
          <img src="../../../assets/icons/api.png" alt="" />
          Rest-Api
        </span>
        <span>
          <img src="../../../assets/icons/scrum.png" alt="" />
          Scrum
        </span>
        <span class="mindset-container">
          <img
            src="../../../assets/icons/growth-mindset.png"
            alt="Growth mindset"
          />
          <img
            class="mindset-frame"
            src="../../../assets/icons/mindset-frame.png"
            alt=""
          />
          Growth mindset
        </span>
      </div>
    </div>
  </div>
</section>
