<section id="skills">
  <div class="content-wrapper">
    <div class="skills-container">
      <div class="left">
        <div class="skill-set-content">
          <h3>{{ "SKILLS.SUBTITLE" | translate }}</h3>
          <div class="skill-set-header">
            <h2>{{ "SKILLS.TITLE" | translate }}</h2>

            <span class="description">
              {{ "SKILLS.DESCRIPTION" | translate }}
            </span>

            <div class="info-section">
              <span class="another-skill">
                {{ "SKILLS.NEW_SKILL.TITLE" | translate }}
              </span>
            </div>

            <div class="info-section last">
              <span class="contact-info">
                {{ "SKILLS.NEW_SKILL.CONTACT_INFO" | translate }}
              </span>
            </div>

            <div class="buttons hover-effect">
              <a href="#contact">
                <span>{{ "SKILLS.BUTTON" | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="skill-item">
          <img src="../../../assets/icons/html.png" alt="HTML" />
          <span>HTML</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/css.png" alt="CSS" />
          <span>CSS</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/javascript.png" alt="JavaScript" />
          <span>JavaScript</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/typescript.png" alt="TypeScript" />
          <span>TypeScript</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/angular.png" alt="Angular" />
          <span>Angular</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/firebase.png" alt="Firebase" />
          <span>Firebase</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/api.png" alt="REST API" />
          <span>REST API</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/scrum.png" alt="SCRUM" />
          <span>SCRUM</span>
        </div>

        <div class="skill-item">
          <img src="../../../assets/icons/git.png" alt="GIT" />
          <span>GIT</span>
        </div>

        <div class="skill-item mindset-container">
          <img
            src="../../../assets/icons/growth-mindset.png"
            alt="Growth mindset"
          />
          <img
            class="mindset-frame"
            src="../../../assets/icons/mindset-frame.png"
            alt=""
          />
          <span>Growth mindset</span>
        </div>
      </div>
    </div>
  </div>
</section>
