<section id="skills">
  <div class="content-wrapper">
    <div class="skills-container">
      <div class="left" appScrollAnimation>
        <div class="skill-set-content">
          <h3>{{ "SKILLS.SUBTITLE" | translate }}</h3>
          <div class="skill-set-header">
            <h2>{{ "SKILLS.TITLE" | translate }}</h2>

            <span class="description">
              {{ "SKILLS.DESCRIPTION" | translate }}
            </span>

            <div class="info-section">
              <span class="another-skill">
                {{ "SKILLS.NEW_SKILL.TITLE" | translate }}
              </span>
            </div>

            <div class="info-section last">
              <span class="contact-info">
                {{ "SKILLS.NEW_SKILL.CONTACT_INFO" | translate }}
              </span>
            </div>

            <div class="buttons hover-effect">
              <a href="#contact">
                <span>{{ "SKILLS.BUTTON" | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <ng-container *ngFor="let skill of skills; let i = index">
          <div
            class="skill-item"
            [class.mindset-container]="skill.isSpecial"
            appScrollAnimation
            [style.animation-delay]="i * 0.1 + 's'"
          >
            <img
              [src]="'../../../assets/icons/' + skill.icon"
              [alt]="skill.name"
            />
            <img
              *ngIf="skill.isSpecial"
              class="mindset-frame"
              src="../../../assets/icons/mindset-frame.png"
              alt=""
            />
            <span>{{ skill.name }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
