<div class="legal-container">
  <div class="content-wrapper">
    <div class="back-button">
      <a
        [routerLink]="['/']"
        class="back-link"
        [title]="'LEGAL.BACK_TO_HOME' | translate"
      >
        ←
      </a>
    </div>

    <h1>{{ "LEGAL.LEGAL_NOTICE.TITLE" | translate }}</h1>

    <div
      class="legal-section"
      *ngFor="
        let section of ['RESPONSIBLE', 'DISCLAIMER', 'LINKS', 'COPYRIGHT']
      "
    >
      <h2>
        {{ "LEGAL.LEGAL_NOTICE.SECTIONS." + section + ".TITLE" | translate }}
      </h2>
      <p
        [innerHTML]="
          'LEGAL.LEGAL_NOTICE.SECTIONS.' + section + '.CONTENT'
            | translate
            | nl2br
        "
      ></p>
    </div>
  </div>
</div>
