<section>
  <div class="portfolio-wrapper">
    <div class="featured-projects-container">
      <h3>Portfolio</h3>
      <h2>Featured Projects</h2>
      <span>
        Explore a selection of my work here - Interact with <br />
        projects to see my skills in action.
      </span>
    </div>

    <div class="portfolio-menu">
      <div
        class="portfolio-menu-item"
        data-project="pokedex"
        (click)="openDialog('Pokédex')"
      >
        <span
          >Pokédex
          <img src="../../assets/icons/arrow.png" alt="arrow-icon" />
        </span>
        <div class="portfolio-menu-item-tech">
          <span class="separator">HTML </span
          ><span class="separator">CSS</span>
          <span class="separator">Firebase</span
          ><span class="separator">JavaScript</span>
        </div>
      </div>

      <div
        class="portfolio-menu-item"
        data-project="sharkie"
        (click)="openDialog('sharkie')"
      >
        <span
          >Sharkie
          <img src="../../assets/icons/arrow.png" alt="arrow-icon" />
        </span>
        <div class="portfolio-menu-item-tech">
          <span class="separator">HTML </span><span class="separator">CSS</span
          ><span class="separator">JavaScript</span>
        </div>
      </div>

      <div
        class="portfolio-menu-item last"
        data-project="join"
        (click)="openDialog('join')"
      >
        <span
          >Join
          <img src="../../assets/icons/arrow.png" alt="arrow-icon" />
        </span>
        <div class="portfolio-menu-item-tech">
          <span class="separator">HTML </span><span class="separator">CSS</span>
          <span class="separator">JavaScript</span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="project-dialog"
    [class.show]="selectedProject"
    (click)="closeDialog()"
  >
    <div class="dialog-content" (click)="$event.stopPropagation()">
      <span class="close-button" (click)="closeDialog()">&times;</span>

      @if (selectedProject && getSelectedProjectData()) {
      <div class="dialog-body">
        <div class="dialog-left">
          <div class="project-number">
            {{ getSelectedProjectData()!.number.toString().padStart(2, "0") }}
          </div>
          <h2>{{ getSelectedProjectData()!.name }}</h2>

          <div class="project-description">
            <h3>What is this project about?</h3>
            <p>
              {{
                language === "de"
                  ? getSelectedProjectData()!.ueber
                  : getSelectedProjectData()!.about
              }}
            </p>
          </div>

          <div class="tech-stack">
            @for (tech of getSelectedProjectData()!.technologies.split(', ');
            track tech) {
            <div class="tech-item">
              <span class="tech-name">{{ tech }}</span>
              @if (getTechIcon(tech)) {
              <img [src]="getTechIcon(tech)" [alt]="tech" class="tech-icon" />
              }
            </div>
            }
          </div>

          <div class="project-links">
            <a [href]="getSelectedProjectData()!.github" target="_blank">
              <span class="hover-effect">
                GitHub
                <img
                  src="../../../assets/icons/arrow-outward.png"
                  alt="arrow"
                  class="arrow-icon"
                />
              </span>
            </a>
            <a [href]="getSelectedProjectData()!.test" target="_blank">
              <span class="hover-effect">
                Live Test
                <img
                  src="../../../assets/icons/arrow-outward.png"
                  alt="arrow"
                  class="arrow-icon"
                />
              </span>
            </a>
          </div>
        </div>

        <div class="dialog-right">
          <img
            [src]="getSelectedProjectData()!.image"
            [alt]="getSelectedProjectData()!.name"
          />
          <div class="next-project">
            <a (click)="goToNextProject()" class="next-project-link">
              <span class="hover-effect">
                Next Project
                <img
                  src="../../../assets/icons/arrow-right.png"
                  alt="arrow"
                  class="arrow-icon"
                />
              </span>
            </a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
