@import '../../variables';

@include desktop {
    .featured-projects-container {
        h2 {
            font-size: 64px;
        }
    }

    .portfolio-menu {
        width: 70vw;
    }

    .portfolio-menu-item {
        &::before,
        &::after {
            right: calc(-200px - 45px);
            width: 200px;
            height: 140px;
        }
    }
}

@include tablet {
    .featured-projects-container {
        margin-bottom: 48px;

        h3 {
            font-size: 20px;
        }

        h2 {
            margin-bottom: 42px;
        }

    }

    .portfolio-menu {
        width: 100%;
    }

    .portfolio-menu-item {
        font-size: 20px;
        padding: 40px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        >span{
            padding-left: 0;
            font-size: 24px;
            padding-bottom: 12px;
        }

        &::before,
        &::after {
            display: none !important;
        }
    }


    .project-dialog .dialog-content {
        width: 90%;
        padding: 24px;

        .dialog-body {
            flex-direction: column;
            gap: 32px;
        }

        .dialog-left {
            width: 100%;

            .project-number {
                font-size: 48px;
            }

            h2 {
                font-size: 32px;
            }
        }

        .project-links {
            justify-content: center;
        }

        .dialog-right {
            width: 100%;
        }
    }

    .portfolio-menu-item-tech {
        .separator {
            margin: 0px;
            &:first-child::before {
                display: none;
            }
            &::before {
                margin: 0 4px;
            }
        }
    }
}

@include mobile {
    .portfolio-wrapper {
        padding-top: 120px;
    }
    
    .featured-projects-container {

        h3 {
            font-size: 18px;
        }
    }

    .portfolio-menu-item {
        font-size: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        &::before,
        &::after {
            display: none !important;
        }

        .portfolio-menu-item-tech {
            font-size: 16px;
        }
    }

    .project-dialog .dialog-content {
        padding: 16px;

        .close-button {
            top: 8px;
            right: 8px;
        }

        .project-number {
            font-size: 36px;
        }

        h2 {
            font-size: 24px;
        }

        .project-description {
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }

        .project-links {
            flex-direction: column;
            gap: 16px;

            a {
                width: 100%;
                text-align: center;
            }
        }

        .next-project {
            position: static;
            margin-top: 24px;
            text-align: center;
        }
    }

    .portfolio-menu-item-tech {
        .separator {
            &:first-child::before {
                display: none;
            }
        }
    }
}