@import '../../../../portfolio/src/variables';

section {
    height: 100vh;
    width: 100%;
    background-color: $background-color;
    position: relative;
    font-family: "karla";
}

.portfolio-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    position: relative;
}

.featured-projects-container{
    margin-bottom: 80px;

    >h3{
        font-size: 24px;
        font-weight: 700;
        color: $primary-color-light;
        margin-top: 40px;
        margin-bottom: 12px;
    }

    >h2{
        font-size: 64px;
        font-weight: 700;
        color: $primary-color-light;
        margin-bottom: 24px;
        font-family: "Fira Code";

    }
}

.portfolio-menu{
    width: 60vw;
    position: relative;
    max-width: calc(1920px * 0.6);
}

.portfolio-menu-item{
    position: relative;
    font-family: "Fira Code";
    font-size: 24px;
    font-weight: 500;
    color: $primary-color-light;
    border-top: 1px solid $primary-color-light;
    padding: 24px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: background-color 0.3s ease-in-out;
    background-color: transparent;

    //hintergrundbild
    &::before {
            content: '';
            position: absolute;
            right: calc(-260px - 65px);
            top: 75%;
            transform: translateY(-50%);
            width: 260px;
            height: 180px;
            background-image: url('../../../src/assets/img/capa2.png');
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            border-radius: 8px;
            z-index: 1;
        }
    //vorschaubild
        &::after {
            content: '';
            position: absolute;
            right: calc(-260px - 55px);
            top: 50%;
            transform: translateY(-50%);
            width: 260px;
            height: 180px;
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 2;
        }
    
        &:hover::before,
        &:hover::after {
            opacity: 1;
            transition-delay: 0.1s;
        }
    
        &:not(:hover)::before,
        &:not(:hover)::after {
            opacity: 0;
            transition: all 0s; 
            transition-delay: 0s;
        }
    
        &[data-project="pokedex"]:hover::after {
            background-image: url('../../../src/assets/img/pokedex.png');
        }
    
        &[data-project="sharkie"]:hover::after {
            background-image: url('../../../src/assets/img/sharkie.png');
        }
    
        &[data-project="join"]:hover::after {
            background-image: url('../../../src/assets/img/join.png');
        }
    &:hover{
        cursor: pointer;
        background-color: $primary-color-dark;
        >span >img {
                opacity: 1;
            }
    }


    >span{
        padding-left: 24px;
        padding-left: 24px;
        display: flex; 
        align-items: center; 
        gap: 8px;
        >img{
            opacity: 0;
            width: 24px;
            height: 24px;
            transition: opacity 0.3s ease-in-out;

        }
    }

    &.last{
        border-bottom: 1px solid $primary-color-light;
    }
    .portfolio-menu-item-tech{
        font-size: 18px;
        font-weight: 400;
        padding-right: 24px;
    }
}

.separator {
    &::before {
        content: '|';
        color: $primary-color-light;
        margin: 0 12px;
    }
}


//DIALOG

.project-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;

    &.show {
        display: flex;
    }

        .dialog-content {
            background-image: url('../../../src/assets/img/header-bg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $background-color;
            width: 80vw; 
            max-width: 1152px;
            height: 70vh;
            max-height: 800px;
            border-radius: 12px;
            position: relative;
            padding: 24px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            animation: dialogFadeIn 0.3s ease-out;
            border: 1px solid $primary-color-light;
        }

    .close-button {
        position: absolute;
        right: 24px;
        top: 16px;
        font-size: 28px;
        cursor: pointer;
        color: $primary-color-light;
        transition: color 0.2s ease;
        z-index: 1001; 
        padding: 8px; 

        &:hover {
            color: darken($primary-color-light, 10%);
            transform: scale(1.4);
        }
    }

    .dialog-body {
        position: relative;
        z-index: 2;
        height: 100%;
        overflow-y: auto;

        h2 {
            color: $primary-color-light;
            margin-bottom: 20px;
            font-size: 32px;
        }
    }
}

@keyframes dialogFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


//DIALOG CONTENT

.dialog-body {
    display: flex;
    gap: 48px;
    padding: 24px;
    font-family: 'Fira Code';

    .dialog-left {
        flex: 1;
        max-width: 50%;

        .project-number {
            font-size: 80px;
            font-weight: 700;
            color: $primary-color-light;
            margin-bottom: 16px;
            font-family: 'Karla';
        }

        h2 {
            font-size: 56px;
            margin-bottom: 32px;
            color: $text-color;
        }

        .project-description {
            margin-bottom: 64px;

            h3 {
                color: $primary-color-light;
                font-size: 32px;
                margin-bottom: 16px;
            }

            p {

                font-family: 'Karla';
                font-size: 20px;
            }
        }

    .tech-stack {
        display: flex;
        gap: 24px;
        margin-bottom: 48px;

        .tech-item {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            .tech-name {
                min-width: 100px;
                font-family: 'Fira Code';
            }

            .tech-bar {
                height: 1px;
                flex-grow: 1;
                background-color: $primary-color-light;
                opacity: 0.3;
            }

            .tech-icon {
                width: 32px;
                height: 32px;
                object-fit: contain;
                margin-right: 16px;
            }
        }
    }

.project-links {
    display: flex;
    flex-direction: row;
    gap: 48px;

    a {
        border: 1px solid #ffffff;
        padding: 16px 24px;
        border-radius: 32px;
        position: relative;
        transition: transform 0.3s ease, background-color 0.3s ease;


        &:hover {
            transform: scale(1.05);
            background-color: rgba(61, 207, 182, 0.2);

            .arrow-icon {
                transform: scale(1.5); 
            }
            .hover-effect {
                color: $primary-color-light;
            }
        }

        span {
            display: flex;
            align-items: center;
            gap: 16px;
            transition: color 0.3s ease;
            color: #ffffff;

            .arrow-icon {
                width: 20px;
                height: 20px;
                object-fit: contain;
                transition: transform 0.3s ease;
            }
        }
    }
}


    }

.dialog-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .next-project {
        position: absolute;
        bottom: 24px;
        right: 24px;

        .next-project-link {
            cursor: pointer;
            transition: transform 0.3s ease, background-color 0.3s ease;

            &:hover {
                transform: scale(1.05);
                background-color: rgba(61, 207, 182, 0.2);

                .arrow-icon {
                    transform: scale(1.5);
                }

                .hover-effect {
                    color: $primary-color-light;
                }
            }

            span {
                display: flex;
                align-items: center;
                gap: 16px;
                transition: color 0.3s ease;
                color: #ffffff;
                font-size: 20px;

                .arrow-icon {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    transition: transform 0.3s ease;
                }
            }
        }
    }
}
}


@import './portfolio-showcase.responsive.scss';