@import '../../../../src/variables';

section{
    padding: 0 5%;
    background-image: url(../../../assets/img/header-bg.png);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.hero{

    >h2{
        font-family: 'Fira Code';
        font-weight: 400;
        font-size: 42px;
    }

    >h1{
        font-family: 'Karla';
        font-weight: 700;
        font-size: 128px;
        margin-bottom: 42px;
    }
}

.hero-container{

.buttons {
        display: flex;
        flex-direction: row;
        gap: 48px;
        

        >a {
            border: 1px solid #ffffff;
            padding: 16px 24px;
            border-radius: 32px;
            position: relative; 
            transition: transform 0.3s ease, background-color 0.3s ease;
            &:hover {
                    transform: scale(1.05); 
                    background-color: rgba(61, 207, 182, 0.2);
                }
            span {
            display: inline-block;
            transition: color 0.3s ease; 

                &:hover {
    
                        color: $primary-color-light; 
                    }
                }
            }
        }
    }


.hidden {
    display: none;
}

.marquee-container {
    height: 56px;
    width: 100vw;
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%) skewY(-3deg);
    background-color: rgba(55, 55, 55, 0.52);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.marquee-content {
    display: flex;
    white-space: nowrap;
    animation: marquee 15s linear infinite;

    >span {
        color: $primary-color-light;
        font-family: 'Karla';
        font-size: 24px;

    }

    .dot {
        margin-left: 42px;
        margin-right: 42px;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-30%);
    }
}

.vertical-line {
    position: absolute;
    width: 1px; 
    height: 230px;
}

.left {
    left: 120px; 
    height: 320px;
    bottom: 0;
    background-color: $primary-color-light;
    
}

.right {
    right: 120px; 
    bottom: 0; 
    background-color: $text-color;
}

.animated-arrow {
  position: absolute;
  top: -60px; 
  left: -14px; 
}

.animated-arrow path {
  animation: moveArrow 1.5s ease-in-out infinite;
}

@keyframes moveArrow {
  0%, 100% {
    transform: translateY(-6);
  }
  50% {
    transform: translateY(10px); 
  }
}

aside{
    position: absolute;
    right: 0px;
    bottom: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

address{
    font-family: "karla";
    font-size: 20px;
    font-weight: 300;
    transform: rotate(-90deg);
    margin-bottom: 120px;
    margin-right: 10px;
    &:hover {
            color: $primary-color-light;
            transition: 0.3s ease-in-out;
        }
    
}

.svg-github,
.svg-linkedin {
    transition: fill 0.3s ease-in-out;

    &:hover {
        path {
            fill: $text-color;
            cursor: pointer;
            transition: fill 0.3s ease-in-out;
        }
    }
}

.point {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-color-light;
    opacity: 0;
    transition: opacity 0.3s;
}

.svg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.svg-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .point {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary-color-light;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover .point {
        opacity: 1;
    }
}