<section class="hero-container">
  <div class="hero">
    <h2>Frontend Developer</h2>
    <h1>Martin Jaros</h1>
  </div>

  <div class="buttons">
    <a href="">Check my work</a>
    <a href="">Contact me</a>
  </div>

  <div class="marquee-container">
    <div class="marquee-content">
      <span>Avaible for remote work</span> <span class="dot">•</span>
      <span>Frontend Developer</span> <span class="dot">•</span>
      <span>Based in St. Gallen</span> <span class="dot">•</span>
      <span>Open to work</span> <span class="dot">•</span>
      <span>Avaible for remote work</span> <span class="dot">•</span>
      <span>Frontend Developer</span> <span class="dot">•</span>
      <span>Based in St. Gallen</span> <span class="dot">•</span>
      <span>Open to work</span>
    </div>
  </div>
</section>
