@import '../../../../src/variables';


@include desktop {
    .hero {
        >h2 {
            font-size: 32px;
        }

        >h1 {
            font-size: 98px;
        }
    }
}

@media screen and (max-width: 564px) {
    .buttons {
        flex-direction: column;
        gap: 24px;
        
        >a {
            width: 100%;
            text-align: center;
        }
    }
}

@include tablet {
    .hero {
        >h2 {
            font-size: 32px;
        }

        >h1 {
            font-size: 90px;
        }
    }

    .vertical-line {
        &.left {
            left: 40px; 
        }

        &.right {
            right: 40px;
            height: 160px; 
        }
    }

    aside {
        right: -79px; 
        bottom: 160px;
    }

    .marquee-content {
        >span {
            font-size: 20px;
        }
    }
}

@include mobile {
    .hero {
        >h2 {
            font-size: 20px;
        }

        >h1 {
            font-size: 48px;
        }
    }

    .buttons {
        flex-direction: column;
        gap: 24px;

        >a {
            width: 100%;
            text-align: center;
        }
    }

    .vertical-line {
        &.left {
            left: 16px;
            height: 200px;
        }

        &.right {
            right: 16px;
        }
    }

    aside {
        right: -78px;
        bottom: 160px; 

        address {
            font-size: 16px;
            margin-bottom: 80px; 
        }
    }

    .marquee-container {
        height: 48px; 
    }

    .marquee-content {
        >span {
            font-size: 16px;
        }

        .dot {
            margin-left: 24px;
            margin-right: 24px;
        }
    }
}


@media (max-width: 360px) {
    .hero {
        >h1 {
            font-size: 36px;
        }
    }

    .vertical-line {
        &.left {
            right: 16px;
        }

        &.right {
            right: 16px;
        }
    }

}

@media screen and (min-width: 2560px){
   

    aside {
        right: calc(50% - 1060px);

        address {
            font-size: 32px;
            margin-bottom: 186px;
            margin-right: 6px;
        }
        
        .svg-container {
            .svg-item {
                margin-bottom: 32px;
                
                svg {
                    width: 48px !important;
                    height: 48px !important;
                }

                .point {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .animated-arrow {
        top: -74px;
        left: -24px;
        svg {
            width: 48px !important;
            height: 64px !important;
        }

    }
}

@media screen and (min-width: 1920px) {
    .marquee-container {
        clip-path: polygon(
            30px 0,   
            calc(100% - 30px) 0,  
            100% 50%,  
            calc(100% - 30px) 100%, 
            30px 100%,  
            0 50%      
        );
        backdrop-filter: blur(4px);  
        background-color: rgba(55, 55, 55, 0.42);  
        border: 1px solid rgba(61, 207, 182, 0.1);  
    }
}



