@import '../../../../src/variables';

section {
    height: 100vh;
    width: 100%;
    background-color: $background-color;
    position: relative;
    font-family: "karla";
}

.content-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5%;
    padding: 0 5%;
}

.profile-image-container {
    position: relative;
    margin-top: 5%;
    width: 45%;
    max-width: 560px;

    .cover-image {
        position: absolute;
        top: 3%;
        right: 5%;
        width: 100%;
        height: auto;
        max-width: 560px;
    }

    .profil {
        position: relative;
        width: 100%;
        height: 560px;
        max-width: 560px;
        object-fit: cover;
        border-radius: 32px;
        object-position: 50% 64%;
        
        filter: grayscale(85%) 
                contrast(1.1) 
                brightness(1.05) 
                saturate(0.9); 
    }
}

.about-me-content {
    width: 45%;
    max-width: 560px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    align-self: flex-end;

    >h3 {
        color: $primary-color-light;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 24px;
    }
}

.about-me-header {
    border: 1px solid $primary-color-light;
    padding: 24px;
    border-radius: 32px;
    background-color: $frame-background-secondary;

    >h2 {
        font-size: 48px;
        color: $primary-color-light;
        margin-bottom: 24px;
    }
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    >span {
        display: flex;
        align-items: start;
        color: #BCBEBE;
        transition: color 0.3s ease, transform 0.3s ease;

        &:hover {
            color: $text-color;
            transform: scale(1.05);
        }
    }

    >img {
        width: 24px;
        height: 24px;
        margin-right: 24px;
    }

    >span:last-child {
        margin-bottom: 0;
    }
}

@import './about-me-responsive.scss';