 @include desktop {
    .contact-container {
        gap: 60px;
    }

    .left-content h2 {
        font-size: 48px;
    }
}

@include tablet {
    .contact-container {
        flex-direction: column;
        gap: 48px;
    }

    .left-content,
    .right-content {
        width: 100%;
    }
}