@include desktop {
    .contact-container {
        gap: 60px;
    }

    .left-content h2 {
        font-size: 48px;
    }
}

@include tablet {
    .contact-container {
        flex-direction: column;
        gap: 48px;
    }

    .left-content,
    .right-content {
        width: 100%;
    }

        .contact-form {
            display: flex;
            flex-direction: column;
    
            button {
                align-self: center;
            }
        }
}

@include mobile {
    .contact-container {
        padding-top: 240px;
    }

    .left-content {
        h2{
            font-size: 56px;
        }

        h3{
            font-size: 24px;
        }
    }
    
    .info-section{
        >h4{
            font-size: 24px;
        }

        >span{
            font-size: 16px;
        }
    }
}


@media screen and (min-width: 2560px){
    .info-section{
        >span{
            font-size: 32px;
        }
    }

    .contact-form{
        .form-group{
            input{
                font-size: 32px;
            }
            label{
                font-size: 32px;
            }
            textarea{
                font-size: 32px;
            }
            .checkbox{
             >label{
                font-size: 32px;
             }
            }
        }
    }
}

@media screen and (min-width: 2880px) {
    .contact-form {
        .form-group {
            &.checkbox {
                >input{
                    width: 50px;
                    height: 50px;
                }
                label {
                    font-size: 32px;

                    a {
                        font-size: 32px;
                    }
                }
            }
        }

        button {
            font-size: 32px;
            padding: 24px 48px;
        }
    }

    .info-section{
     .highlight-text{
        font-size: 32px;
     }
     .link-style{
        font-size: 32px;
     }
    }
}