<section id="contact">
  <div class="content-wrapper">
    <div class="contact-container">
      <div class="left-content" appScrollAnimation>
        <h3>{{ "CONTACT.SUBTITLE" | translate }}</h3>
        <div class="contact-header">
          <h2>{{ "CONTACT.TITLE" | translate }}</h2>

          <div class="info-section">
            <h4>{{ "CONTACT.PROBLEM.TITLE" | translate }}</h4>
            <span>{{ "CONTACT.PROBLEM.DESCRIPTION" | translate }}</span>
          </div>

          <div class="info-section">
            <span class="highlight-text">
              {{ "CONTACT.NEED_DEV" | translate }}
              <span class="link-style">{{
                "CONTACT.LETS_TALK" | translate
              }}</span>
            </span>
          </div>
        </div>
      </div>

      <div
        class="right-content"
        appScrollAnimation
        [style.animation-delay]="'0.2s'"
      >
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="contact-form"
        >
          <div class="form-group">
            <label for="name">{{
              "CONTACT.FORM.NAME.LABEL" | translate
            }}</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              [placeholder]="'CONTACT.FORM.NAME.PLACEHOLDER' | translate"
              [class.error]="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
            />
            <span
              class="error-message"
              *ngIf="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
            >
              {{ "CONTACT.FORM.ERRORS.NAME" | translate }}
            </span>
          </div>

          <div class="form-group">
            <label for="email">{{
              "CONTACT.FORM.EMAIL.LABEL" | translate
            }}</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              [placeholder]="'CONTACT.FORM.EMAIL.PLACEHOLDER' | translate"
              [class.error]="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
            />
            <span
              class="error-message"
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
            >
              {{ "CONTACT.FORM.ERRORS.EMAIL" | translate }}
            </span>
          </div>

          <div class="form-group">
            <label for="message">{{
              "CONTACT.FORM.MESSAGE.LABEL" | translate
            }}</label>
            <textarea
              id="message"
              rows="4"
              formControlName="message"
              [placeholder]="'CONTACT.FORM.MESSAGE.PLACEHOLDER' | translate"
              [class.error]="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
            ></textarea>
            <span
              class="error-message"
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
            >
              {{ "CONTACT.FORM.ERRORS.MESSAGE" | translate }}
            </span>
          </div>

          <div class="form-group checkbox">
            <input type="checkbox" id="privacy" formControlName="privacy" />
            <label for="privacy">
              {{ "CONTACT.FORM.PRIVACY" | translate }}
              <a (click)="navigateToPrivacyPolicy()">{{
                "CONTACT.FORM.PRIVACY_LINK" | translate
              }}</a>
              {{ "CONTACT.FORM.PRIVACY_END" | translate }}
            </label>
          </div>

          <div class="submit-status" *ngIf="submitSuccess || submitError">
            <div class="success-message" *ngIf="submitSuccess">
              <i class="fas fa-check-circle"></i>
              <div class="message-content">
                <h4>{{ "CONTACT.FORM.SUCCESS_TITLE" | translate }}</h4>
                <p>{{ "CONTACT.FORM.SUCCESS_MESSAGE" | translate }}</p>
              </div>
            </div>

            <div class="error-message" *ngIf="submitError">
              <i class="fas fa-exclamation-circle"></i>
              <div class="message-content">
                <h4>{{ "CONTACT.FORM.ERROR_TITLE" | translate }}</h4>
                <p>{{ "CONTACT.FORM.ERROR_MESSAGE" | translate }}</p>
              </div>
            </div>
          </div>

          <button type="submit" [disabled]="!isFormValid() || isSubmitting">
            {{
              isSubmitting
                ? "CONTACT.FORM.SENDING"
                : ("CONTACT.FORM.SUBMIT" | translate)
            }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
