<div class="privacy-container">
  <div class="content-wrapper">
    <div class="back-button">
      <a [routerLink]="['/']" class="back-link" title="Zurück zur Startseite">
        ←
      </a>
    </div>

    <h1>Datenschutzerklärung</h1>
    <p class="last-updated">Zuletzt aktualisiert am: {{ lastUpdated }}</p>

    <div class="privacy-section intro">
      <p>
        Wir legen grossen Wert darauf, dass der Umgang mit Personendaten
        transparent ist. Diese Datenschutzerklärung gibt Auskunft darüber,
        welche personenbezogenen Daten wir sammeln, zu welchem Zweck und an wen
        wir sie weitergeben.
      </p>
    </div>

    <div class="privacy-section">
      <h2>1. Welche Dienste wir nutzen</h2>
      <ul>
        <li>Firebase</li>
      </ul>
    </div>

    <div class="privacy-section">
      <h2>2. Kontaktinformationen</h2>
      <p>
        Bei Fragen oder Anliegen zum Schutz Ihrer Daten erreichen Sie uns
        jederzeit per E-Mail. Verantwortlich für die Datenbearbeitungen, die
        über diese Website erfolgen, ist:
      </p>
      <p>
        Martin Jaros<br />
        Witenwisstrasse 23a<br />
        9200 Gossau SG<br />
        Schweiz
      </p>
      <p>
        <strong>Datenschutzverantwortliche Person:</strong><br />
        Martin Jaros<br />
      </p>

      <p>E-Mail: privacy&#64;martin-jaros.ch</p>
    </div>

    <div class="privacy-section">
      <h2>3. Allgemeine Grundsätze</h2>

      <h3>3.1 Welche Daten sammeln wir von Ihnen</h3>
      <p>
        In erster Linie bearbeiten wir Personendaten, die Sie uns übermitteln
        oder die wir beim Betrieb unserer Website sammeln. Unter Umständen
        erhalten wir Personendaten über Sie auch von Dritten. Das können
        folgende Kategorien sein:
      </p>
      <ul>
        <li>Personenstammdaten (Name, Adresse, Geburtsdaten, etc.)</li>
        <li>Kontaktdaten (Handynummer, E-Mailadresse, etc.)</li>
        <li>Onlinekennungen (bspw. Cookie-Kennung, IP-Adressen)</li>
        <li>Standort- und Verkehrsdaten</li>
      </ul>

      <h3>3.2 Unter welchen Voraussetzungen bearbeiten wir Ihre Daten?</h3>
      <p>
        Wir behandeln Ihre Daten vertraulich und gemäss den in dieser
        Datenschutzerklärung festgelegten Zwecken. Wir achten dabei auf eine
        transparente und verhältnismässige Bearbeitung.
      </p>
      <p>
        Falls wir ausnahmsweise nicht in der Lage sind, diese Grundsätze zu
        befolgen, kann die Datenbearbeitung trotzdem rechtmässig sein, weil ein
        Rechtfertigungsgrund vorliegt. Als Rechtfertigungsgrund kommt namentlich
        in Frage:
      </p>
      <ul>
        <li>Ihre Einwilligung</li>
        <li>
          die Durchführung eines Vertrages oder vorvertraglicher Massnahmen
        </li>
        <li>
          unsere berechtigten Interessen, sofern Ihre Interessen nicht
          überwiegen
        </li>
      </ul>

      <h3>3.3 Wie können Sie Ihre Einwilligung widerrufen?</h3>
      <p>
        Haben Sie uns eine Einwilligung zur Bearbeitung Ihrer personenbezogenen
        Daten für bestimmte Zwecke erteilt, bearbeiten wir Ihre Daten im Rahmen
        dieser Einwilligung, soweit wir keinen anderen Rechtfertigungsgrund
        haben.
      </p>
      <p>
        Sie haben jederzeit die Möglichkeit, Ihre Einwilligung zu widerrufen
        indem Sie eine E-Mail an die im Impressum genannte Adresse schicken.
        Bereits erfolgte Datenverarbeitungen sind davon nicht betroffen.
      </p>

      <h3>3.4 Wie lange bewahren wir Ihre Daten auf?</h3>
      <p>
        Wir speichern personenbezogene Daten nur so lange, wie dies erforderlich
        ist, um die einzelnen Zwecke, zu denen die Daten erhoben wurden, zu
        erfüllen.
      </p>
      <p>
        Daten, die wir bei Ihrem Besuch auf unserer Website speichern, werden
        während zwölf Monaten aufbewahrt. Eine Ausnahme gilt für Analyse- und
        Trackingdaten, die länger aufbewahrt werden können.
      </p>

      <h3>3.5 Wie schützen wir Ihre Daten?</h3>
      <p>
        Wir werden Ihre Daten sicher aufbewahren und alle angemessenen
        Massnahmen ergreifen, um Ihre Daten vor Verlust, Zugriff, Missbrauch
        oder Änderungen zu schützen.
      </p>
      <p>
        Innerhalb unserer Webseite verwenden wir das SSL-Verfahren (Secure
        Socket Layer) in Verbindung mit der jeweils höchsten
        Verschlüsselungsstufe, die von Ihrem Browser unterstützt wird.
      </p>
    </div>

    <div class="privacy-section">
      <h2>4. Einzelne Datenverarbeitungsvorgänge</h2>

      <h3>4.1 Bereitstellen der Webseite und Erstellung von Logfiles</h3>
      <h4>Welche Informationen erhalten wir und wie nutzen wir sie?</h4>
      <p>
        Beim Besuch von martin-jaros.ch werden auf unseren Servern bestimmte
        Daten automatisch zu Zwecken der Systemadministration, für statistische
        oder für Sicherungszwecke gespeichert. Es handelt sich dabei um:
      </p>
      <ul>
        <li>den Namen Ihres Internetserviceproviders</li>
        <li>Ihre IP-Adresse (unter Umständen)</li>
        <li>die Version Ihrer Browser-Software</li>
        <li>
          das Betriebssystem des Rechners mit dem auf die URL zugegriffen wird
        </li>
        <li>das Datum und die Uhrzeit des Zugriffs</li>
        <li>die Webseite, von der aus Sie URL besuchen</li>
        <li>die Suchwörter die Sie benutzt haben, um die URL finden</li>
      </ul>

      <h3>4.2 Firebase</h3>
      <p>
        Unsere Website und Anwendungen nutzen Firebase, eine Plattform für
        Entwickler, die von Google LLC (1600 Amphitheatre Parkway, Mountain
        View, CA 94043, USA; "Google") bereitgestellt wird. Firebase bietet eine
        Vielzahl von Tools und Diensten zur Entwicklung, Verwaltung und
        Verbesserung von Web- und Mobilanwendungen.
      </p>
      <p>
        Durch die Nutzung von Firebase können verschiedene Daten,
        einschliesslich Ihrer IP-Adresse, Informationen über den von Ihnen
        genutzten Browser, Datum und Uhrzeit des Zugriffs sowie weitere
        Interaktionsdaten, an Server von Google übermittelt und dort gespeichert
        werden.
      </p>
      <p>Einige der spezifischen Dienste von Firebase, die wir nutzen, sind:</p>
      <ul>
        <li>
          Firebase Realtime Database: Ein Cloud-gehosteter NoSQL-Datenbankdienst
        </li>
        <li>
          Firebase Analytics: Ein Analysetool zur Erfassung von Daten über die
          Nutzung und das Verhalten der Anwender in der App
        </li>
        <li>
          Firebase Authentication: Ein Dienst, der Authentifizierungsfunktionen
          für unsere Anwendungen bereitstellt
        </li>
        <li>
          Firebase Cloud Messaging: Ein Dienst für Benachrichtigungen und
          Nachrichtenübermittlung
        </li>
      </ul>
    </div>

    <div class="privacy-section source">
      <p>
        <small
          >Quelle:
          <a
            href="https://brainbox.swiss/"
            target="_blank"
            rel="noopener noreferrer"
            >BrainBox Solutions</a
          >
        </small>
      </p>
    </div>
  </div>
</div>
