<section>
  <div class="footer-container">
    <div class="left">
      <app-logo></app-logo>
      <div class="footer-info">
        <span>{{ "FOOTER.ROLE" | translate }}</span>
        <span>{{ "FOOTER.LOCATION" | translate }}</span>
      </div>
    </div>

    <div class="footer-copyright">
      <span>&copy; {{ "FOOTER.COPYRIGHT" | translate }}</span>
    </div>

    <div class="footer-links">
      <a
        href="https://github.com/MartinJaros90"
        target="_blank"
        class="footer-links__item"
        >{{ "FOOTER.LINKS.GITHUB" | translate }}</a
      >
      <a
        href="https://www.linkedin.com/in/martin-jaros-14921b224"
        target="_blank"
        class="footer-links__item"
        >{{ "FOOTER.LINKS.LINKEDIN" | translate }}</a
      >
      <a href="mailto:martinjaros88@gmail.com" class="footer-links__item">{{
        "FOOTER.LINKS.EMAIL" | translate
      }}</a>
      <a (click)="navigateToLegalNotice()" class="footer-links__item">{{
        "FOOTER.LINKS.LEGAL" | translate
      }}</a>
    </div>

    <div class="scroll-top" (click)="scrollToTop()" [class.visible]="isVisible">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 4L16 28M16 4L8 12M16 4L24 12"
          stroke="#3DCFB6"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</section>
