<section>
  <div class="footer-container">
    <div class="left">
      <app-logo></app-logo>
      <div class="footer-info">
        <span>{{ "FOOTER.ROLE" | translate }}</span>
        <span>{{ "FOOTER.LOCATION" | translate }}</span>
      </div>
    </div>

    <div class="footer-copyright">
      <span>&copy; {{ "FOOTER.COPYRIGHT" | translate }}</span>
    </div>

    <div class="footer-links">
      <a
        href="https://github.com/MartinJaros90"
        target="_blank"
        class="footer-links__item"
        >{{ "FOOTER.LINKS.GITHUB" | translate }}</a
      >
      <a
        href="https://linkedin.com/in/martin-jaros-dev"
        target="_blank"
        class="footer-links__item"
        >{{ "FOOTER.LINKS.LINKEDIN" | translate }}</a
      >
      <a href="mailto:martinjaros88@gmail.com" class="footer-links__item">{{
        "FOOTER.LINKS.EMAIL" | translate
      }}</a>
      <a [routerLink]="['/legal-notice']" class="footer-links__item">{{
        "FOOTER.LINKS.LEGAL" | translate
      }}</a>
    </div>
  </div>
</section>
