$background-color: #1C1C1C;
$primary-color-light: #3DCFB6;
$primary-color-dark: #26524B;
$text-color: #ffffff; 
$frame-background: #132D28;
$frame-background-secondary: #1f2e2b78;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $breakpoint-desktop) {
        @content;
    }
}




@mixin center-flex {
    display: flex;
    align-items: center;
}
