<section class="header-container">
  <div class="content-wrapper">
    <div class="header-links">
      <div class="language-switcher" (click)="toggleLanguage()">
        <img
          class="language-switcher__icon"
          [class.language-switcher__icon--animating]="isAnimating"
          [src]="currentLanguageIcon"
          [alt]="isGerman ? 'Deutsch' : 'English'"
        />
      </div>
      <a class="header-link" href="">About me</a>
      <a class="header-link" href="">Skills</a>
      <a class="header-link" href="">Portfolio</a>
    </div>
    <div class="logo-container">
      <span class="logo-icon">MJ</span>
      <div class="header-name">
        <span class="first-name">Martin</span>
        <span class="last-name">Jaros</span>
      </div>
    </div>
  </div>
</section>
