<section
  class="header-container"
  [class.scrolled]="isScrolled"
  [class.header-hidden]="!isHeaderVisible"
>
  <div class="content-wrapper">
    <!-- Desktop Navigation -->
    <nav class="desktop-nav">
      <div class="header-links">
        <div
          class="language-switcher"
          (click)="toggleLanguage()"
          [class.animating]="isAnimating"
        >
          <div class="switch-container">
            <div
              class="switch-option"
              [class.active]="currentLanguage === 'en'"
            >
              EN
            </div>
            <div
              class="switch-option"
              [class.active]="currentLanguage === 'de'"
            >
              DE
            </div>
            <div
              class="slider"
              [class.slide-right]="currentLanguage === 'de'"
            ></div>
          </div>
        </div>
        <a
          class="header-link"
          [class.active]="activeSection === 'about'"
          href="#about"
          (click)="scrollToSection('about', $event)"
          >About me</a
        >
        <a
          class="header-link"
          [class.active]="activeSection === 'skills'"
          href="#skills"
          (click)="scrollToSection('skills', $event)"
          >Skills</a
        >
        <a
          class="header-link"
          [class.active]="activeSection === 'portfolio'"
          href="#portfolio"
          (click)="scrollToSection('portfolio', $event)"
          >Portfolio</a
        >
      </div>
    </nav>

    <!-- Logo Container -->
    <app-logo></app-logo>

    <!-- Hamburger Button -->
    <button
      class="hamburger-btn"
      (click)="toggleMenu()"
      [class.open]="isMenuOpen"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Mobile Navigation -->
    <nav class="mobile-nav" [class.open]="isMenuOpen">
      <div class="mobile-links">
        <div class="language-switcher mobile" (click)="toggleLanguage()">
          <img
            class="language-switcher__icon"
            [src]="currentLanguageIcon"
            [alt]="isGerman ? 'Deutsch' : 'English'"
          />
        </div>
        <a
          class="mobile-link"
          href="#about"
          (click)="scrollToSection('about', $event)"
          >About me</a
        >
        <a
          class="mobile-link"
          href="#skills"
          (click)="scrollToSection('skills', $event)"
          >Skills</a
        >
        <a
          class="mobile-link"
          href="#portfolio"
          (click)="scrollToSection('portfolio', $event)"
          >Portfolio</a
        >
      </div>
    </nav>
  </div>
</section>
